.headerContainer{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.headerMedia {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 150px;
  height: 150px;
}


.headerNavMedia{
  width: 20vw;
  display: flex;
  justify-content: space-around;

}



.socialMedia {
  color: var(--orange);
  font-size: 24px;
  transition: all 0.4s;
}

.socialMedia:hover{
  color: var(--gray-100);
}